.logoholder{
    background-color: #000;

    &--container{
        padding: 50px 0;
    }

    &__top{
        margin-bottom: 60px;
    }

    &__logo{
        margin-right: 95px;

        &-active{
            margin-right: 0;
        }
    }
}