.team{
    background-color: #000;

    &__banner{
        display: flex;

        &-name{
            color: #fff;
            font-family: $fontAudiowide;
            font-weight: 400;
            font-size: 79px;
            line-height: 88px;
            text-transform: uppercase;
            margin-right: 200px;
        }
    }

    &--container{
        display: flex;
        padding-top: 130px;
        padding-bottom: 250px;
    }

    &__artist{

        width: 320px;
        margin-right: 100px;

        &-img{
            margin-bottom: 20px;
        }

        &-name{
            color: #fff;
            font-family: $fontDM;
            font-weight: 400;
            font-size: 21px;
            line-height: 28px;
            text-align: center;
            margin-bottom: 20px;
        }

        &-job-title{
            color: #8DFD1B;
            text-transform: uppercase;
            text-align: center;
            font-family: $fontDM;
            font-weight: 400;
            font-size: 11px;
            line-height: 12px;
            margin-bottom: 20px;
        }
        
        &-contacts{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        &-link{
            text-decoration: none;
            margin-right: 10px;
        }

        &-descr{
            color: #fff;
            text-align: center;
            font-family: $fontInter;
            font-weight: 400;
            font-size: 12px;
            line-height: 19px;
            padding-right: 25px;
            padding-left: 25px;
        }
    }
}